{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
{{blog.blog_title}}
{% endblock %}
{% block body_block %}
{% if blog.blog_image %}
<div class="row">
    <div class="col-sm-6">
        <h2>{{blog.blog_title}} </h2>
        <h4>Posted by : <a href="{% url 'App_Login:profile_others' username=blog.author %}" style="color: black; text-decoration: none;">@ {{blog.author}}</a>  </h4>
        <i><h6> Publish Date : {{blog.publish_date}} </h6></i>
        <i><h6>Update Date : {{blog.update_date}} </h6> </i>
        <h6> {{blog.liked_blog.count}} Likes | {{blog.blog_comment.count}} Comment </h6>
        {% if blog.author == user %}
       <a href="{% url 'app_blog:edit_blog' pk=blog.pk %}" class="btn btn-warning btn-sm">Edit</a>
{% endif %}
    </div>
    <div class="col-sm-6">
        <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" width="100%">
    </div>
    <p>
        {{blog.blog_content|linebreaks}}
    </p>

</div>
{% if liked %}
<a href="{% url 'app_blog:unliked' pk=blog.pk %}">
    <i class="fa fa-thumbs-o-down fa-2x"></i>
</a>
{% else %}
<a href="{% url 'app_blog:liked' pk=blog.pk %}">
    <i class="fa fa-thumbs-o-up fa-2x"></i>
</a>
{% endif %}

<div class="row">
    <div class="col-sm-6">
        <hr>
        <h5>Comments</h5>
        {% for comment in blog.blog_comment.all %}
            <p> <a href="{% url 'App_Login:profile_others' username=comment.user %}"> {{comment.user}} </a>
              <br>
              Comment : {{comment.comment}}
              <br>
              <h6>{{comment.comment_date}} </h6>
            </p>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        
        <form action="" method="POST">
            {{comment_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col-sm-12">
        <h2>{{blog.blog_title}} </h2>
        <h4>Posted by : <a href="{% url 'App_Login:profile_others' username=blog.author %}" style="color: black; text-decoration: none;">@ {{blog.author}}</a>  </h4>
        <i><h6> Publish Date : {{blog.publish_date}} </h6></i>
        <i><h6>Update Date : {{blog.update_date}} </h6> </i>
        <h6> {{blog.liked_blog.count}} Likes | {{blog.blog_comment.count}} Comment </h6>
        {% if blog.author == user %}
       <a href="{% url 'app_blog:edit_blog' pk=blog.pk %}" class="btn btn-warning btn-sm">Edit</a>
{% endif %}
    </div>
    <!-- <div class="col-sm-6">
        <img src="/media/{{blog.blog_image}}" alt="{{blog.blog_title}}" width="100%">
    </div> -->
    <p>
        {{blog.blog_content|linebreaks}}
    </p>

</div>
{% if liked %}
<a href="{% url 'app_blog:unliked' pk=blog.pk %}">
    <i class="fa fa-thumbs-o-down fa-2x"></i>
</a>
{% else %}
<a href="{% url 'app_blog:liked' pk=blog.pk %}">
    <i class="fa fa-thumbs-o-up fa-2x"></i>
</a>
{% endif %}

<div class="row">
    <div class="col-sm-6">
        <hr>
        <h5>Comments</h5>
        {% for comment in blog.blog_comment.all %}
            <p> <a href="{% url 'App_Login:profile_others' username=comment.user %}"> {{comment.user}} </a>
              <br>
              Comment : {{comment.comment}}
              <br>
              <h6>{{comment.comment_date}} </h6>
            </p>
        {% endfor %}
    </div>
    <div class="col-sm-6">
        
        <form action="" method="POST">
            {{comment_form|crispy }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </form>
    </div>
</div>
{% endif %}
{% endblock %}