{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %}
Forum
{% endblock %}
{% block css_block %}
    <style>
        
    </style>
{% endblock %}
{% block body_block %}
<div style="display: flex; margin:30px; margin-top: 20px;">
    <div style="width: 75%;">
        <div>
            নিজে প্রশ্ন করার পাশাপাশি অন্যের প্রশ্নেরও উত্তর দিন, আলোচনা করুন, সহায়তা করুন। ইন্সট্রাক্টর, মেন্টর এবং স্টুডেন্ট সবাই মিলে আমরা একটি সুন্দর কম্যুনিটি তৈরি করতে চাই; আর আপনার অবদান ছাড়া সেটি সম্ভব নয়!
        </div>
<br><br>
<b>ফোরামে পোস্ট করার সময় যে বিষয়গুলো মাথায় রাখবেন</b> <br>
<div>
    ** যদি কোড রান করতে গিয়ে এরর দেখেন, তাহলে সবার আগে আমাদের সরবরাহ করা সোর্স কোডের সাথে আপনার কোড মিলিয়ে দেখুন ঠিক আছে কিনা।
</div>
** যেকোনো এরর বা টপিক নিয়ে পোস্ট করার আগে গুগলে সার্চ করে সেটির সমাধান বের করার চেষ্টা করুন। <br>
** নিজে নিজে কোনোভাবে সল্ভ করতে না পারলে, ফোরামে পোস্ট করুন। তবে পোস্ট করার সময় সম্ভাব্য সব ধরনের ডিটেইলস যেন পোস্টে থাকে সেটা নিশ্চিত করুন। প্রবলেমের বিস্তারিত বর্ণনা করুন, কিভাবে প্রবলেমটি তৈরি হলো, সেটি সল্ভ করার জন্য আপনি কি কি ট্রাই করেছেন সেটিও লিখুন - সেই প্রবলেম ট্রাবলশ্যুট করার জন্য আমাদের যে যে তথ্য দরকার সেগুলোও সাথে দিয়ে দিন। <br>
** আপনার কোড, প্রবলেমের স্ক্রিনশট অবশ্যই অবশ্যই সাথে এটাচ করে দিন। স্ক্রিনশট আপলোড ও শেয়ার করার জন্য IMGUR ব্যবহার করতে পারেন। <br>
** যদি সম্ভব হয়, পুরো প্রবলেমটি কিভাবে তৈরি হচ্ছে সেটি বর্ণনা করে একটি স্ক্রিন রেকর্ড করে সেই ভিডিও আমাদের সাথে শেয়ার করুন। স্ক্রিন রেকর্ডের জন্য OBS Screen Recorder ব্যবহার করতে পারেন এবং এরপর ভিডিওটি গুগল ড্রাইভ, ড্রপবক্স বা ইউটিউবে আপলোড করে Shareable URL টি পোস্টের সাথে এটাচ করে দিন। <br>
    </div>
    <div style="width: 25%; position: relative;">
        {% if user.is_student %}
        <a href="{% url 'forum:ask_question' %}" class="btn btn-danger" style="position: absolute; right: 20px;">Ask your Question</a>
        {% endif %}
    </div>
</div>
{% if questions %}
<div style="margin-left: 30px;margin-right: 30px;">
    <div style="background-color: grey;color: white; height: 45px;padding-left: 10px;padding-top: 10pxz;" >Question Title</div>
    {% for q in questions %}
    <div style="padding-left: 10px;padding-top: 10pxz;">
        <div style="padding-right: 20px;padding-top: 10px;display: inline-block;">
            {% if q.author.user_profile.profile_pic %}
            <a  href="{% url 'App_Login:profile_others' username=q.author %}"  > 
                <img src="/media/{{q.author.user_profile.profile_pic}}" alt="" width="60px" height="60px" class="rounded-circle">
                </a>
            {% else %}
            <a  href="{% url 'App_Login:profile_others' username=q.author %}"  > 
                <img src="/media/profile_pics/avatar-male.jpg" alt="" width="60px" height="60px" class="rounded-circle">
            </a>
            {% endif %}            
        </div>
        <div style="display: inline-block;">
            <div padding-right: 20px;padding-top: 20px;> <b><a href="{% url 'forum:question_details' slug=q.slug %}" style="color: black;text-decoration: none;">{{q.ques_title}} </a></b>
            <br>
            <b style="font-size: 14px;color: rgb(226, 151, 53);">{{q.author.username}},{{q.publish_date}} </b>
            </div>
        </div>
        <hr>
    </div>
    {% endfor %}
</div>
{% else %}
<div style="margin-left: 30px;margin-right: 30px;">
    <div style="background-color: grey;color: white; height: 45px;padding-left: 10px;padding-top: 10pxz;" >Question Title</div>
    <div style="height: 45px;padding-left: 10px;padding-top: 10px;">
        <b>No question yet</b>
    </div>
    <hr>
</div>

{% endif %}
{% endblock %}